#banner {
    padding: 1em;
    margin: 0em 3em;
    
    text-align: center;

    background: rgba(255, 255, 255, 0.456);
}

#navigation {
    margin:0em 3em;
}

#studentorganization{
    padding: 1em;
    margin: 2em;
    text-align: center;
}

#events{
    padding: 1em;
    margin: 2em;
}
h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:3em
    
}
h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1.9em
}
h3 {
    color: rgb(194, 239, 250);
    font-style:italic;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4em
}

p {
    color:rgba(0, 0, 0, 0.573);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

.orgs {
    text-align: center;
    padding: 2em;
    border: 4px dotted rgba(245, 245, 245, 0.305)
}

#listoforgs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2em 0em 0em 0em;
}

body {
    background: radial-gradient(rgb(211, 64, 93), rgb(208, 237, 249));
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.456);
}

li {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 10px
}

li:hover{
    font-style: italic;
}

a {
    display: block;
    padding: 14px 20px;
    color: black;
    font-weight: bold;
}